@import '_colors';
@import '_typography';
@import '_buttons';

/* Reusable Classes
   =========================================== */
.visually-hidden {
	text-indent: -9999px;
	visibility: hidden;
}

.wrapper {
	width: 80%;
	margin-left: auto;
	margin-right: auto;	

	@media screen and (max-width: 600px) {
		width: 100%;
		margin: 0;
		padding: 0 1%;
	}
}

.d-inline {
	display: inline-block;
}

.mrg-btm {
	margin-bottom: 25px;
}

.vertically-center {
	vertical-align: middle;
}

.padding-right {
	padding-right: 10px;
}


/* Header Styles
   =========================================== */

.logo  {
	width: 50%;
	height: auto;
	vertical-align: middle;
}

.user-text {
	padding-right: 20px;
	color: $c-text-medium;
}

.md-toolbar-tools {
	padding: 0 8px;
}

md-toolbar.md-default-theme {
	background-color: $c-background-dark;
}

.logIn {
	display: inherit;
}

/* Footer Styles
   =========================================== */

.footer {
	background-color: $c-background-light;
	height: 200px;
	text-align: center;
	padding-top: 10px;
}