<div class="mms-screen">
  
  <!-- Stuff same accross the different pages -->
  <header>
     <md-toolbar>
      <div class="wrapper">
        <div class="md-toolbar-tools" layout-align="space-around center">
          <div>
            <img class="logo" src="images/metamorphLogo.png" alt="metamorph logo"> 
          </div>
          <span flex></span>
          <div hide-sm hide-md>
            <p class="md-body-2 user-text"><small class="md-caption">Welcome, Guest</small></p>
          </div>
          <div hide-sm class="logIn">
            <div class="padding-right">
              <md-button aria-label="Login" aria-role="button">Login</md-button>
            </div>
            <md-button class="btn" aria-label="Sign Up"><span class="btn-text">Sign Up</span></md-button>
          </div>
          <div hide-gt-sm>        
            <md-button ng-click="" class="md-icon-button" aria-label="hidden navigation">
              <md-icon md-svg-icon="images/menu.svg"></md-icon>
            </md-button>
          </div>
        </div>
      </div>
      </md-toolbar>
 </header>


    <!-- Individual pages will be rendered-here -->
  <ng-transclude></ng-transclude>

  <!-- Stuff same accross the different pages -->
  <div flex class="footer">
   <div>Common footer</div>
  </div>
</div>