@import '../../styles/_colors';


/* Dashboard Components 
   =========================================== */

.sub-header {
	background-color: $c-background-light;
	border-bottom: 1px solid $c-border-dark;
	margin-bottom: 50px;
}

[aria-label="banner"] {
	color: $c-text-dark;
	font-weight: normal;
}

.searchIcon {
	background-color: $c-white;	
	border-radius: 2px;
	padding: 15px 15px;
	border-color: $c-border-light;
	border-style: solid;
	border-width: 1px 0px 1px 1px;
	margin-right: -6px;
}

.sub-header input {
	border-radius: 2px;
	padding: 15px 60px 15px 15px;
	border-color: $c-border-light;
	border-style: solid;
	border-width: 1px 1px 1px 0px;
	margin-right: 20px;
	color: $c-text-medium;
}

.md-button.md-default-theme.md-primary.md-raised {
	background-color: $c-theme;
	text-align: center;
	vertical-align: middle;
}

.md-primary .fa {
 	font-size: 1.2rem;
 	line-height: inherit;
 	padding-right: 5px;
}

.font-awesome .fa {
	padding: 1px 10px;
	border-radius: 2px;
	background-color: $c-white;
	border: 1px solid $c-border-light;
 	font-size: 1.8rem;
 	line-height: inherit;

 	&.active {
 		color: $c-theme;
 	}
}

.font-awesome .md-button {
	padding:0; 
	margin: 0;

	&:first-child {
		margin-right: -11px;
	}
}

.font-awesome {
	margin-right: 20px;
}

.md-button {
	padding: 6px 22px;
}


/* Dashboard Main Content
   =========================================== */
.main-dashboard {
	background-color: $c-white;
	margin-bottom: 100px;
}

.project-banner {
	text-align: center;
	color: $c-white;
	background-color: $c-background-highlight;
	border-radius: 2px;
	margin: 0px 8px 50px 8px;
}

.main-dashboard a {
	color: $c-white;
}

md-card {
	box-shadow: none;
	border: 1px solid $c-border-light;
}

.md-title {
	color: $c-text-dark;
}

