@import '../../styles/_colors';

/* Reusable Classes
   =========================================== */
.visually-hidden {
	text-indent: -9999px;
	visibility: hidden;
}

.wrapper {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;	

	@media screen and (max-width: 600px) {
		width: 100%;
		margin: 0;
		padding: 0 1%;
	}
}

.d-inline {
	display: inline-block;
}

/* Site typography
   =========================================== */

body  { 
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

html  {   
    font: 100%/1.5 sans-serif;      
}

/* Dashboard Components 
   =========================================== */

.dashboard-header {
	background-color: $c-background-light;
	border-bottom: 1px solid $c-border-dark;
	margin-bottom: 50px;
}

h2 {
	color: $c-text-dark;
	font-weight: normal;
}

.searchIcon {
	background-color: $c-white;	
	border-radius: 2px;
	padding: 15px 25px;
	border-color: $c-border-light;
	border-style: solid;
	border-width: 1px 0px 1px 1px;
	margin-right: -6px;
}

.dashboard-header input {
	border-radius: 2px;
	padding: 15px 15px;
	border-color: $c-border-light;
	border-style: solid;
	border-width: 1px 1px 1px 0px;
	margin-right: 20px;
}

.dashboard-header .md-button.md-default-theme.md-primary.md-raised {
	background-color: #3894FD;
	text-align: center;
	vertical-align: middle;
}

.md-primary .fa {
 	font-size: 1.2rem;
 	line-height: inherit;
 	padding-right: 5px;
}

.font-awesome .fa {
	padding: 1px 10px;
	border-radius: 2px;
	background-color: $c-white;
	border: 1px solid $c-border-light;
 	font-size: 1.8rem;
 	line-height: inherit;

 	&.active {
 		color: #3894FD;
 	}
}

.font-awesome .md-button {
	padding:0; 
	margin: 0;

	&:first-child {
		margin-right: -11px;
	}
}

.font-awesome {
	margin-right: 20px;
}


/* Main Content
   =========================================== */
.main {
	background-color: $c-white;
	margin-bottom: 100px;
}

.project-banner {
	text-align: center;
	color: $c-white;
	background-color: $c-background-highlight;
	border-radius: 2px;
	margin: 0px 8px 50px 8px;
}

.main a {
	color: $c-white;
}

