<div class="overview-screen">
    <div class="sub-header">
      <div class="wrapper">
          <div layout="row" layout-sm="column" layout-align="space-around center" layout-padding layout-wrap>
            <div flex="50" flex-sm="100">
              <h2 class="md-headline" aria-label="banner">Camera Module Starter</h2>
            </div>
            <span flex></span>
            <div flex-sm="100">
              <label for="searchBox" class="visually-hidden">Submission Date</label>
              <label for="searchBox" aria-label="search-icon" class="searchIcon"><i class="fa fa-search"></i></label>
              <input id="searchBox" type="search" placeholder="Search">
            </div>
        </div>  
      </div>
    </div>

    <main class="main-overview">
         <md-content>
          <md-tabs md-dynamic-height>
            <md-tab label="Overview">
              <md-content class="md-padding">
                <section layout="row" layout-sm="column" layout-align="left center" class="mrg-btm">      
                  <md-button class="md-raised md-primary" aria-label="Branch Project">Branch Project</md-button>
                  <span flex></span>
                  <md-button class="md-raised md-primary" aria-label="Edit Project">Edit</md-button>
                </section>
                  <div class="overview-inner-tabs">
                  <md-content layout-align="right center">
                    <md-tabs md-dynamic-height>
                      <md-tab label="Schematic">
                        <md-content class="md-padding">
                          <div class="placeholder"></div>
                        </md-content>
                      </md-tab>
                      <md-tab label="PCB Layout">
                        <md-content class="md-padding">
                          <h3 class="md-display-2">PCB Layout</h3>
                          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                        </md-content>
                      </md-tab>
                      <md-tab label="Bill of Materials">
                        <md-content class="md-padding">
                          <h3 class="md-display-2">Bill of Materials</h3>
                          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                        </md-content>
                      </md-tab>
                      <md-tab label="3D">
                        <md-content class="md-padding">
                          <h3 class="md-display-2">3D</h3>
                          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                        </md-content>
                      </md-tab>
                    </md-tabs>
                  </md-content>
                </div> 
              </md-content>
            </md-tab>
            <md-tab label="Results &amp; History">
              <md-content class="md-padding">
                <div class="overview-inner-tabs">
                  <md-content>
                    <md-tabs md-dynamic-height>
                      <md-tab label="All[ ]">
                        <md-content class="md-padding">
                          <p>all results</p>
                        </md-content>
                      </md-tab>
                      <md-tab label="Schematic[ ]">
                        <md-content class="md-padding">
                          <h3 class="md-display-2">Schematic</h3>
                        </md-content>
                      </md-tab>
                      <md-tab label="PCB Layout">
                        <md-content class="md-padding">
                          <h3 class="md-display-2">PCB Layout</h3>
                        </md-content>
                      </md-tab>
                      <md-tab label="Bill of Materials[ ]">
                        <md-content class="md-padding">
                          <h3 class="md-display-2">Bill of Materials</h3>
                        </md-content>
                      </md-tab>
                      <md-tab label="3D">
                        <md-content class="md-padding[ ]">
                          <h1 class="md-display-2">3D</h1>
                        </md-content>
                      </md-tab>
                    </md-tabs>
                  </md-content>
                </div> 
              </md-content>
            </md-tab>
            <md-tab label="Product">
              <md-content class="md-padding">
                <section layout="row" layout-md="column" layout-sm="column">
                  <div flex="80" flex-sm="100">
                    <div flex>
                      <h3 class="md-display-2">Bill of Materials</h3>
                    </div>
                    <span flex></span>
                    <div flex>
                      <label for="Materialsquantity">Desired Quantity:</label>
                      <input id="Materialsquantity" type="text" placeholder="Quantity">
                    </div>
                  </div>
                  <div flex="20" flex-sm="100">
                    <h3 class="md-display-2">Project Downloads</h3>
                    <md-button class="md-raised md-secondary" aria-label="Download Eagle File">Download Eagle File</md-button>
                  </div>
                </section>
              </md-content>
            </md-tab>
            <md-tab label="People">
              <md-content class="md-padding">
                <p class="md-display-2">Manage the People who will collaborate with you on this project</p>
                <section layout="row" layout-md="column" layout-sm="column" layout-align="space-around left" class="md-padding mrg-btm" layout-wrap>      
                <div flex>
                  <img src="http://placehold.it/250x200">
                  <p>First Name, Last Name</p>
                </div>
                <div flex>
                  <img src="http://placehold.it/250x200">
                  <p>First Name, Last Name</p>
                </div>
                <div flex>
                  <img src="http://placehold.it/250x200">
                  <p>First Name, Last Name</p>
                </div>
                <div flex>
                  <img src="http://placehold.it/250x200">
                  <p>First Name, Last Name</p>
                </div>
                <div flex>
                  <img src="http://placehold.it/250x200">
                  <p>Add Someone</p>
                </div>
                </section>
              </md-content>
            </md-tab>
            <md-tab label="Activity">
              <md-content class="md-padding">
                <section layout="row" layout-sm="column" layout-align="left center" class="mrg-btm">      
                  <h3 class="md-display-2">Project Activity</h3>
                  <span flex></span>
                  <md-select placeholder="Last 7 days" ng-model="someVal">
                    <md-option value="1">This Month</md-option>
                    <md-option value="2">This Year</md-option>
                  </md-select>
                </section>
                <section layout="column" class="mrg-btm">     
                  <div layout="row">
                    <div flex="70" flex-sm="100">
                      <div class="graph-placeholder"></div>
                      <h3 class="md-display-2">Update History</h3>
                        <md-content>
                          <md-list-item layout="row" layout-sm="column" layout-wrap>
                            <div flex="10">
                              <img src="images/avatar.png" class="avatar" alt="avatar image" />
                            </div>
                            <div flex="90">
                              <h4>Component Added</h4>
                              <p>Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.</p>
                            </div>
                          </md-list-item>
                          <md-divider></md-divider>
                          <md-list-item layout="row" layout-sm="column" layout-wrap>
                            <div flex="10">
                              <img src="images/avatar.png" class="avatar" alt="avatar image" />
                            </div>
                            <div flex="90">
                              <h4>Test Run</h4>
                              <p>Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.</p>
                            </div>
                          </md-list-item>
                          <md-divider></md-divider>
                          <md-list-item layout="row" layout-sm="column" layout-wrap>
                            <div flex="10">
                              <img src="images/avatar.png" class="avatar" alt="avatar image" />
                            </div>
                            <div flex="90">
                              <h4>Component Removed</h4>
                              <p>Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.</p>
                            </div>
                          </md-list-item>
                        </md-content>
                    </div>
                </section>
              </md-content>
            </md-tab>
          </md-tabs>
      </md-content>
    </main>

</div>