/* Color Variables
   =========================================== */
/* Grey Scale (Dark) Colors
   =========================================== */
/* Grey Scale (Medium) Colors
   =========================================== */
/* Grey Scale (Lighter) Colors
   =========================================== */
/* Theme Specific Colors
   =========================================== */
/* Site typography
   =========================================== */
/* line 5, /Users/matthew/projects/code/ui-components/src/screens/styles/_typography.scss */
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #999999; }

/* line 11, /Users/matthew/projects/code/ui-components/src/screens/styles/_typography.scss */
html {
  font: 100%/1.5 'Roboto', sans-serif; }

/* line 15, /Users/matthew/projects/code/ui-components/src/screens/styles/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  color: #575E67; }

/* line 19, /Users/matthew/projects/code/ui-components/src/screens/styles/_typography.scss */
h1 {
  font-size: 2em;
  /* 2*16 = 32 */ }

/* line 20, /Users/matthew/projects/code/ui-components/src/screens/styles/_typography.scss */
h2 {
  font-size: 1.5em;
  /* 1.5*16 = 24 */ }

/* line 21, /Users/matthew/projects/code/ui-components/src/screens/styles/_typography.scss */
h3 {
  font-size: 1.17em;
  /* 1.17*16 = 18.72 */ }

/* line 22, /Users/matthew/projects/code/ui-components/src/screens/styles/_typography.scss */
h4 {
  font-size: 1em;
  /* 1*16 = 16 */ }

/* line 23, /Users/matthew/projects/code/ui-components/src/screens/styles/_typography.scss */
h5 {
  font-size: 0.83em;
  /* 0.83*16 = 13.28 */ }

/* line 24, /Users/matthew/projects/code/ui-components/src/screens/styles/_typography.scss */
h6 {
  font-size: 0.75em;
  /* 0.75*16 = 12 */ }

/* line 26, /Users/matthew/projects/code/ui-components/src/screens/styles/_typography.scss */
strong {
  font-weight: bold; }

/* line 27, /Users/matthew/projects/code/ui-components/src/screens/styles/_typography.scss */
em {
  font-style: italic; }

/* Button Styles Override 
   =========================================== */
/* line 6, /Users/matthew/projects/code/ui-components/src/screens/styles/_buttons.scss */
.md-button {
  padding: 6px 22px; }

/* line 10, /Users/matthew/projects/code/ui-components/src/screens/styles/_buttons.scss */
.md-button.md-default-theme.md-primary.md-raised {
  background-color: #3894FD; }

/* line 14, /Users/matthew/projects/code/ui-components/src/screens/styles/_buttons.scss */
.md-button.md-default-theme.md-primary {
  background-color: #3894FD;
  text-align: center;
  vertical-align: middle;
  color: #FFF;
  box-shadow: 0px 2px 0px 0px #0679fc;
  box-shadow: 0px 2px 0px 0px #0679fc; }
  /* line 21, /Users/matthew/projects/code/ui-components/src/screens/styles/_buttons.scss */
  .md-button.md-default-theme.md-primary:hover {
    background-color: #0679fc; }

/* Project Button Styles
   =========================================== */
/* line 29, /Users/matthew/projects/code/ui-components/src/screens/styles/_buttons.scss */
.btn {
  border: 1px solid #999999;
  background-color: #343e4a; }

/* Reusable Classes
   =========================================== */
/* line 8, /Users/matthew/projects/code/ui-components/src/screens/styles/mmsScreen.scss */
.visually-hidden {
  text-indent: -9999px;
  visibility: hidden; }

/* line 13, /Users/matthew/projects/code/ui-components/src/screens/styles/mmsScreen.scss */
.wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 600px) {
    .wrapper {
      width: 100%;
      margin: 0;
      padding: 0 1%; } }

/* line 25, /Users/matthew/projects/code/ui-components/src/screens/styles/mmsScreen.scss */
.d-inline {
  display: inline-block; }

/* line 29, /Users/matthew/projects/code/ui-components/src/screens/styles/mmsScreen.scss */
.mrg-btm {
  margin-bottom: 25px; }

/* line 33, /Users/matthew/projects/code/ui-components/src/screens/styles/mmsScreen.scss */
.vertically-center {
  vertical-align: middle; }

/* Header Styles
   =========================================== */
/* line 43, /Users/matthew/projects/code/ui-components/src/screens/styles/mmsScreen.scss */
.logo {
  width: 50%;
  height: auto;
  vertical-align: middle; }

/* line 49, /Users/matthew/projects/code/ui-components/src/screens/styles/mmsScreen.scss */
.user-text {
  padding-right: 20px;
  color: #999999; }

/* line 54, /Users/matthew/projects/code/ui-components/src/screens/styles/mmsScreen.scss */
.md-toolbar-tools {
  padding: 0 8px; }

/* line 58, /Users/matthew/projects/code/ui-components/src/screens/styles/mmsScreen.scss */
md-toolbar.md-default-theme {
  background-color: #3F4A59; }

/* Footer Styles
   =========================================== */
/* line 66, /Users/matthew/projects/code/ui-components/src/screens/styles/mmsScreen.scss */
.footer {
  background-color: #F0F4F6;
  height: 200px;
  text-align: center;
  padding-top: 10px; }

/* Color Variables
   =========================================== */
/* Grey Scale (Dark) Colors
   =========================================== */
/* Grey Scale (Medium) Colors
   =========================================== */
/* Grey Scale (Lighter) Colors
   =========================================== */
/* Theme Specific Colors
   =========================================== */
/* Dashboard Components 
   =========================================== */
/* line 7, /Users/matthew/projects/code/ui-components/src/screens/dashboard/styles/dashboard.scss */
.sub-header {
  background-color: #F0F4F6;
  border-bottom: 1px solid #DEE2E2;
  margin-bottom: 50px; }

/* line 13, /Users/matthew/projects/code/ui-components/src/screens/dashboard/styles/dashboard.scss */
[aria-label="banner"] {
  color: #575E67;
  font-weight: normal; }

/* line 18, /Users/matthew/projects/code/ui-components/src/screens/dashboard/styles/dashboard.scss */
.searchIcon {
  background-color: #fff;
  border-radius: 2px;
  padding: 15px 15px;
  border-color: #E5E9EA;
  border-style: solid;
  border-width: 1px 0px 1px 1px;
  margin-right: -6px; }

/* line 28, /Users/matthew/projects/code/ui-components/src/screens/dashboard/styles/dashboard.scss */
.sub-header input {
  border-radius: 2px;
  padding: 15px 60px 15px 15px;
  border-color: #E5E9EA;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  margin-right: 20px;
  color: #999999; }

/* line 39, /Users/matthew/projects/code/ui-components/src/screens/dashboard/styles/dashboard.scss */
.md-primary .fa {
  font-size: 1.2rem;
  line-height: inherit;
  padding-right: 5px; }

/* line 45, /Users/matthew/projects/code/ui-components/src/screens/dashboard/styles/dashboard.scss */
.font-awesome .fa {
  padding: 1px 10px;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #E5E9EA;
  font-size: 1.8rem;
  line-height: inherit; }
  /* line 53, /Users/matthew/projects/code/ui-components/src/screens/dashboard/styles/dashboard.scss */
  .font-awesome .fa.active {
    color: #3894FD; }

/* line 58, /Users/matthew/projects/code/ui-components/src/screens/dashboard/styles/dashboard.scss */
.font-awesome .md-button {
  padding: 0;
  margin: 0; }
  /* line 62, /Users/matthew/projects/code/ui-components/src/screens/dashboard/styles/dashboard.scss */
  .font-awesome .md-button:first-child {
    margin-right: -11px; }

/* line 67, /Users/matthew/projects/code/ui-components/src/screens/dashboard/styles/dashboard.scss */
.font-awesome {
  margin-right: 20px; }

/* Dashboard Main Content
   =========================================== */
/* line 73, /Users/matthew/projects/code/ui-components/src/screens/dashboard/styles/dashboard.scss */
.main-dashboard {
  background-color: #fff;
  margin-bottom: 100px; }

/* line 78, /Users/matthew/projects/code/ui-components/src/screens/dashboard/styles/dashboard.scss */
.project-banner {
  text-align: center;
  color: #fff;
  background-color: #45B99C;
  border-radius: 2px;
  margin: 0px 8px 50px 8px; }

/* line 86, /Users/matthew/projects/code/ui-components/src/screens/dashboard/styles/dashboard.scss */
.main-dashboard a {
  color: #fff; }

/* line 90, /Users/matthew/projects/code/ui-components/src/screens/dashboard/styles/dashboard.scss */
md-card {
  box-shadow: none;
  border: 1px solid #E5E9EA; }

/* line 95, /Users/matthew/projects/code/ui-components/src/screens/dashboard/styles/dashboard.scss */
.md-title {
  color: #575E67; }

/* Color Variables
   =========================================== */
/* Grey Scale (Dark) Colors
   =========================================== */
/* Grey Scale (Medium) Colors
   =========================================== */
/* Grey Scale (Lighter) Colors
   =========================================== */
/* Theme Specific Colors
   =========================================== */
/* Overview Components 
   =========================================== */
/* line 6, /Users/matthew/projects/code/ui-components/src/screens/overview/styles/overview.scss */
.overview-screen .sub-header {
  margin-bottom: 0px;
  border-bottom: none; }

/* line 11, /Users/matthew/projects/code/ui-components/src/screens/overview/styles/overview.scss */
.overview-screen .sub-header input {
  margin-right: 0px;
  padding-right: 16px; }

/* Top Level Tabs
   =========================================== */
/* line 20, /Users/matthew/projects/code/ui-components/src/screens/overview/styles/overview.scss */
md-tabs.md-default-theme .md-header {
  background-color: #F0F4F6;
  margin-bottom: 25px; }

/* line 27, /Users/matthew/projects/code/ui-components/src/screens/overview/styles/overview.scss */
md-tabs .md-header-items-container, .md-tabs-content {
  padding: 0 10%; }
  @media screen and (max-width: 600px) {
    md-tabs .md-header-items-container, .md-tabs-content {
      padding: 0 1%; } }

/* line 35, /Users/matthew/projects/code/ui-components/src/screens/overview/styles/overview.scss */
md-tabs.md-default-theme md-tab.active {
  color: #575E67;
  font-weight: bold; }

/* line 40, /Users/matthew/projects/code/ui-components/src/screens/overview/styles/overview.scss */
md-tabs-ink-bar {
  height: 4px;
  margin-top: -4px; }

/* line 45, /Users/matthew/projects/code/ui-components/src/screens/overview/styles/overview.scss */
md-tabs.md-default-theme md-tabs-ink-bar {
  color: #3894FD;
  background: #3894FD; }

/* Inner Level Tabs
=========================================== */
/* line 53, /Users/matthew/projects/code/ui-components/src/screens/overview/styles/overview.scss */
.overview-inner-tabs md-tabs.md-default-theme .md-header {
  background-color: transparent; }
/* line 58, /Users/matthew/projects/code/ui-components/src/screens/overview/styles/overview.scss */
.overview-inner-tabs md-tabs .md-header-items-container, .overview-inner-tabs .md-tabs-content {
  padding: 0 0; }
  @media screen and (max-width: 600px) {
    .overview-inner-tabs md-tabs .md-header-items-container, .overview-inner-tabs .md-tabs-content {
      padding: 0 0; } }
/* line 66, /Users/matthew/projects/code/ui-components/src/screens/overview/styles/overview.scss */
.overview-inner-tabs md-tabs.md-default-theme md-tabs-ink-bar {
  display: none !important; }

/* line 71, /Users/matthew/projects/code/ui-components/src/screens/overview/styles/overview.scss */
.placeholder {
  width: 100%;
  height: 700px;
  background: #F0F4F6; }

/* line 77, /Users/matthew/projects/code/ui-components/src/screens/overview/styles/overview.scss */
.graph-placeholder {
  width: 100%;
  height: 400px;
  background: #F0F4F6; }

/* Overview Main Content
   =========================================== */
/* line 84, /Users/matthew/projects/code/ui-components/src/screens/overview/styles/overview.scss */
.main-overview {
  background-color: #fff;
  margin-bottom: 100px; }

/* line 89, /Users/matthew/projects/code/ui-components/src/screens/overview/styles/overview.scss */
.main-overview a {
  color: #fff; }

/* line 93, /Users/matthew/projects/code/ui-components/src/screens/overview/styles/overview.scss */
.materialsQuantity input {
  border-radius: 2px;
  padding: 15px;
  border-color: #E5E9EA;
  border-style: solid;
  border-width: 1px;
  color: #999999; }

/* line 101, /Users/matthew/projects/code/ui-components/src/screens/overview/styles/overview.scss */
.avatar {
  width: 40px;
  height: auto;
  vertical-align: middle; }
