<div class="dashboard-screen">
    <div class="sub-header">
      <div class="wrapper">
          <div layout="row" layout-sm="column" layout-md="column" layout-align="space-around center" layout-padding layout-wrap>
          <div>
            <h2 class="md-headline" aria-label="banner">Welcome to your Dashboard</h2>
          </div>
          <span flex></span>
          <div>
            <label for="searchBox" class="visually-hidden">Submission Date</label>
            <label for="searchBox" aria-label="search-icon" class="searchIcon"><i class="fa fa-search"></i></label>
            <input id="searchBox" type="search" placeholder="Filter by keyword">
          </div>
          <div>
            <div class="font-awesome d-inline">
              <md-button aria-role="button" aria-label=""><i class="fa fa-th-list fa"></i></md-button>
              <md-button aria-role="button" aria-label=""><i class="fa fa-th fa active"></i></md-button>
            </div>
            <div class="d-inline">
              <md-button class="md-primary btn-position" aria-role="button"><i class="fa fa-plus"></i> New Project</md-button>
            </div>
          </div>
        </div>  
      </div>
    </div>

    <main class="main-dashboard">
      <div class="wrapper">

        <md-content layout="row">
          <div flex class="project-banner">
            <p class="d-inline">Get going with a starter Project below  - or - </p>
            <a class="d-inline" href="">Start a New Project</a>
          </div>
        </md-content>

        <md-content layout="row" layout-md="column" layout-sm="column">
          <md-card flex>
              <img src="http://placehold.it/400x300">
            <md-card-content>
              <h2 class="md-title">Camera Module Starter</h2>
              <p>Sample Project</p>
            </md-card-content>
          </md-card>
          <md-card flex>
              <img src="http://placehold.it/400x300">
            <md-card-content>
              <h2 class="md-title">Camera Module Starter</h2>
              <p>Sample Project</p>
            </md-card-content>
          </md-card>
          <md-card flex>
              <img src="http://placehold.it/400x300">
            <md-card-content>
              <h2 class="md-title">Camera Module Starter</h2>
              <p>Sample Project</p>
            </md-card-content>
          </md-card>
        </md-content>
        <md-content layout="row" layout-md="column" layout-sm="column">
          <md-card flex>
              <img src="http://placehold.it/400x300">
            <md-card-content>
              <h2 class="md-title">Camera Module Starter</h2>
              <p>Sample Project</p>
            </md-card-content>
          </md-card>
          <md-card flex>
              <img src="http://placehold.it/400x300">
            <md-card-content>
              <h2 class="md-title">Camera Module Starter</h2>
              <p>Sample Project</p>
            </md-card-content>
          </md-card>
          <md-card flex>
              <img src="http://placehold.it/400x300">
            <md-card-content>
              <h2 class="md-title">Camera Module Starter</h2>
              <p>Sample Project</p>
            </md-card-content>
          </md-card>
        </md-content>
      </div>
    </main>

</div>